---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import TableOfContents from '../../components/TableOfContents.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<Layout 
	title={post.data.title} 
	description={post.data.description}
	externalScripts={post.data.externalScripts}
	localScripts={post.data.localScripts}
	localStyles={post.data.localStyles}
	maxWidth="max-w-7xl"
>
	<div class="flex flex-col lg:flex-row lg:gap-12 relative">
		<TableOfContents headings={headings} />

		<article class="prose prose-lg prose-indigo dark:prose-invert w-full max-w-4xl mx-auto flex-1 min-w-0">
			<div class="mb-8 text-center">
				<h1 class="mb-2 text-gray-900 dark:text-white !text-4xl md:!text-5xl !leading-tight">{post.data.title}</h1>
				<time datetime={post.data.pubDate.toISOString()} class="text-gray-500 dark:text-gray-400">
					{post.data.pubDate.toLocaleDateString('en-us', {
						year: 'numeric',
						month: 'long',
						day: 'numeric',
					})}
				</time>
			</div>
			
			<Content />
		</article>
	</div>
</Layout>
